python test.py -a none -i places
python test.py -a none -i imagenet 

python test.py -a softmax -i places
python test.py -a softmax -i imagenet

python test.py -a softmax --multi_task -i places --srs_multiplier 10
python test.py -a softmax --multi_task -i imagenet --srs_multiplier 10

python semi_test.py --semi -a none -i imagenet --semi_alpha 0.1
python semi_test.py --semi -a none -i imagenet --semi_alpha 0.2
python semi_test.py --semi -a none -i imagenet --semi_alpha 0.3
python semi_test.py --semi -a none -i imagenet --semi_alpha 0.4
python semi_test.py --semi -a none -i imagenet --semi_alpha 0.5

python semi_test.py --semi -a softmax -i imagenet --semi_alpha 0.1
python semi_test.py --semi -a softmax -i imagenet --semi_alpha 0.2
python semi_test.py --semi -a softmax -i imagenet --semi_alpha 0.3
python semi_test.py --semi -a softmax -i imagenet --semi_alpha 0.4
python semi_test.py --semi -a softmax -i imagenet --semi_alpha 0.5

python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i imagenet --semi_alpha 0.1
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i imagenet --semi_alpha 0.2
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i imagenet --semi_alpha 0.3
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i imagenet --semi_alpha 0.4
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i imagenet --semi_alpha 0.5

python semi_test.py --semi -a none -i places --semi_alpha 0.1
python semi_test.py --semi -a none -i places --semi_alpha 0.2
python semi_test.py --semi -a none -i places --semi_alpha 0.3
python semi_test.py --semi -a none -i places --semi_alpha 0.4
python semi_test.py --semi -a none -i places --semi_alpha 0.5

python semi_test.py --semi -a softmax -i places --semi_alpha 0.1
python semi_test.py --semi -a softmax -i places --semi_alpha 0.2
python semi_test.py --semi -a softmax -i places --semi_alpha 0.3
python semi_test.py --semi -a softmax -i places --semi_alpha 0.4
python semi_test.py --semi -a softmax -i places --semi_alpha 0.5

python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i places --semi_alpha 0.1
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i places --semi_alpha 0.2
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i places --semi_alpha 0.3
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i places --semi_alpha 0.4
python semi_test.py --semi -a softmax --multi_task --srs_multiplier 10 -i places --semi_alpha 0.5
